<div class="container">
    <img src="assets/intro.png" alt="Imagem de Introdução" class="intro-image">
    <div class="text-content">
        <h1>Descubra a Beleza da Primavera na Sua Pele!</h1>
        <p>É com grande entusiasmo que apresentamos a nossa mais recente coleção de primavera, repleta de cores vibrantes e estampas floridas que irão fazer você se apaixonar pela estação das flores ainda mais! Na [Nome da Sua Loja], estamos comprometidos em trazer moda de alta qualidade que combina estilo e conforto, e a nossa nova coleção é a prova disso.</p>
    </div>
</div>
<div class="model-images">
    <div class="model-image-container">
        <img src="assets/models.png" alt="Modelo 1" class="model-image">
        <div class="model-info">
            <div class="info-text">
                R$399,00
                <div class="info-subtext">vestido curto estampado estrela búzios</div>
            </div>
        </div>
    </div>
    <div class="model-image-container">
        <img src="assets/models (2).png" alt="Modelo 2" class="model-image">
        <div class="model-info">
            <div class="info-text">
                R$649,00
                <div class="info-subtext">conjunto sonhos de magnólia</div>
            </div>            
        </div>
    </div>
    <div class="model-image-container">
        <img src="assets/models (3).png" alt="Modelo 3" class="model-image">
        <div class="model-info">
            <div class="info-text">
                R$539,00
                <div class="info-subtext">conjunto estampado vento de fruta</div>
            </div>
        </div>
    </div>

</div>
<div class="model-images">
    <div class="model-image-container">
        <img src="assets/models (4).png" alt="Modelo 4" class="model-image">
        <div class="model-info">
            <div class="info-text">
                R$699,00
                <div class="info-subtext">vestido cropped estampado cor de banana</div>
            </div>
        </div>
    </div>
    <div class="model-image-container">
        <img src="assets/models (5).png" alt="Modelo 5" class="model-image">
        <div class="model-info">
            <div class="info-text">
                R$399,00
                <div class="info-subtext">kimono e maiô estampado praia floral neon</div>
            </div>            
        </div>
    </div>
    <div class="model-image-container">
        <img src="assets/models (6).png" alt="Modelo 6" class="model-image">
        <div class="model-info">
            <div class="info-text">
                R$799,00
                <div class="info-subtext">kimono estampado doce manhã</div>
            </div>
        </div>
    </div>