<header class="header" style="height: 127px; flex-shrink: 0; background: #E37E40;">
    <img src="assets/logo.png">
    <nav class="list_nav">
        <ul class="list_ul">
            <li><a routerLink="/">home</a></li>
            <li><a routerLink="/card">meus pedidos</a></li>
            <li><a routerLink="/documentacao">login</a></li>
            <li><a routerLink="/funcionario">contato</a></li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>
<footer class="footer" style="height: 135px; background: #E37E40;margin-top: 20px;">
    <img src="assets/logo FOOTER.png" class="footer-logo">
    <p>&copy; 2023 NYELLOW. Todos os direitos reservados.</p>
</footer>

